<!DOCTYPE html>
<html>
    <head>
        <img src="/img/logo.png" alt="Meadowlark Travel Logo">
        <title>Meadowlark Travel</title>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
